{% extends 'admin_layouts/administrator.html'%} {% load static %}
{% load base%}
{% block title%} administrator | Dashboard {% endblock%}
{% block content %}

<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Admin Dashboard</h1>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Admin Dashboard</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Info boxes -->
      <div class="row">
        {% if perms.auth.view_user  %}

        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa fa-users"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Supervisors</span>
              {% user_count as user_c %}
              {% if user_c %}
              <span class="info-box-number"> {% user_count %}</span>
              {% else %}
              <small style="color: rgb(182, 173, 173);">No Data Found</small>
              {% endif %}

            </div>
          </div>
        </div>
        {% endif %}


        {% if perms.loan.view_loan  %}
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1">$</span>

            <div class="info-box-content">
              <span class="info-box-text">Loans </span>
              {% loan_count as loan_c %}
              {% if loan_c %}
              <span class="info-box-number">{% loan_count %}</span>
              {% else %}
              <small style="color: rgb(182, 173, 173);">No Data Found</small>
              {% endif %}
            </div>
          </div>
        </div>
        {% endif %}


        <div class="clearfix hidden-md-up"></div>
        {% if perms.member.view_member  %}
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fa fa-user-circle "></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Members</span>
              {% member_count as member_c %}
              {% if member_c %}
              <span class="info-box-number">{% member_count %}</span>
              {% else %}
              <small style="color: rgb(182, 173, 173);">No Data Found</small>
              {% endif %}
            </div>
          </div>
        </div>

        {% endif %}

        {% if perms.auth.view_group  %}
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class=" fab fa-rebel"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Orbit</span>
              {% group_count as group_c %}
              {%if group_c %}
              <span class="info-box-number">{% group_count %}</span>
              {% else %}
              <small style="color: rgb(182, 173, 173);">No Data Found</small>
              {% endif %}
            </div>
          </div>
        </div>
        {% endif %}

        {% if perms.share.view_share  %}

        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fa  fa-sitemap"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Share(Hisa)</span>
              <span class="info-box-number">
                {% all_share_count as share_c %}

                {% if share_c %}
                {% all_share_count %}
                {% else %}
                <small style="color: rgb(182, 173, 173);">No Data Found</small>
                {% endif %}
              </span>
            </div>
          </div>
        </div>
        {% endif %}
      </div>

    </div>
  </section>

  <!-- --------------------Start graph------------------------- -->

  <!-- <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <p class="text-center">
          <strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
        </p>
        <div class="chart">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
              <div class=""></div>
            </div>
            <div class="chartjs-size-monitor-shrink">
              <div class=""></div>
            </div>
          </div>
          <canvas id="salesChart" height="225" style="height: 180px; display: block; width: 796px;" width="995"
            class="chartjs-render-monitor"></canvas>
        </div>
      </div>
      <div class="col-md-4">
        <p class="text-center">
          <strong>Goal Completion</strong>
        </p>

        <div class="progress-group">
          Add Products to Cart
          <span class="float-right"><b>160</b>/200</span>
          <div class="progress progress-sm">
            <div class="progress-bar bg-primary" style="width: 80%"></div>
          </div>
        </div>
        <div class="progress-group">
          Complete Purchase
          <span class="float-right"><b>310</b>/400</span>
          <div class="progress progress-sm">
            <div class="progress-bar bg-danger" style="width: 75%"></div>
          </div>
        </div>
        <div class="progress-group">
          <span class="progress-text">Visit Premium Page</span>
          <span class="float-right"><b>480</b>/800</span>
          <div class="progress progress-sm">
            <div class="progress-bar bg-success" style="width: 60%"></div>
          </div>
        </div>
        <div class="progress-group">
          Send Inquiries
          <span class="float-right"><b>250</b>/500</span>
          <div class="progress progress-sm">
            <div class="progress-bar bg-warning" style="width: 50%"></div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- --------------------End graph------------------------- -->
</div>

{% endblock %}