{% extends 'admin_layouts/administrator.html'%} {% load static %}
{% block title%} share | TMD {% endblock%}
{% block content %}
{% for week in weeks %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h4 style="color: rgb(0, 78, 151);">Month: {{ week.month}},Year :{{ week.year}}</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Share</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
{% if week.share.all %}
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="row justify-content-between">
                <h3 class="card-title">{{ week.name}} | Active Share List</h3>
                <div class="float-right">
                    {% if perms.share.add_share %}
                    {% if week.share.all %}
                    <a href="#" class="btn btn-success btn-sm" data-toggle="modal" data-target="#createShare">
                        <i class="fa  fa-plus-circle"></i>
                        Create Share</a>
                    {% endif %}
                   

                    <a href="#" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#upload{{ member.id }}">
                        <i class="fa  fa-folder-open"></i> Import From File
                    </a>
                    <a href="#" class="btn btn-info btn-sm" data-toggle="modal" data-target="#export">
                        <i class="fa  fas  fa-file-excel"></i>
                        Export Share</a>

                    {% endif %}
                    {% if perms.share.delete_share %}
                    <a href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteAll">
                        <i class="fa fa-file-excel-o"></i> Delete All
                    </a>
                    {% endif %}


                </div>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 1%">
                            REG
                        </th>
                        <th style="width: 20%">
                            Team Member
                        </th>
                        <th>
                            Profile
                        </th>
                        <th>
                            Hisa
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            jamii
                        </th>
                        {% if perms.share.delete_share %}
                        <th style="width: 20%" class="text-center">
                            Actions
                        </th>
                        {% endif %}


                    </tr>
                </thead>
                <tbody>
                    {% for share in week.share.all %}
                    <tr>
                        <td>
                            <strong> {{ share.member.user.username|upper }}</strong>

                        </td>
                        <td>
                            <a>
                                <!-- {{ share.user.get_full_name }} -->
                                <strong>{{ share.member.user.get_full_name|title  }}</strong>
                            </a>
                            <br>
                            <small>
                                Created {{ share.created_at }}
                            </small>
                        </td>
                        <td>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <img alt="." class="table-avatar" src="{{ share.member.user.profile.profile.url }}">
                                </li>

                            </ul>
                        </td>
                        <td>
                            <strong>{{ share.hisa }}</strong>

                        </td>
                        <td>
                            TSH <strong>{{ share.amount }}</strong>

                        </td>
                        <td>
                            <strong>TSH {{ share.jamii }}/=</strong>

                            <!-- <td class="project-state">
                            <span class="badge badge-success">Success</span>
                        </td> -->
                        <td class="text-center">
                            <!-- <a class="btn btn-primary btn-sm" href="#">
                                <i class="fas fa-folder">
                                </i>
                            </a>
                            <a class="btn btn-info btn-sm" href="#">
                                <i class="fas fa-pencil-alt">
                                </i>
                            </a> -->
                            {% if perms.share.delete_share %}
                            <a class="btn btn-danger btn-sm" href="#" data-toggle='modal'
                                data-target="#deleteShare{{ share.id }}">
                                <i class="fas fa-trash">
                                </i>
                            </a>
                            {% endif %}
                        </td>
                    </tr>


                    <!-- Create Modal -->
                    <div class="modal fade" id="deleteShare{{ share.id }}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    Delete Share
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ share.delete }}">
                                        {% csrf_token %}
                                        <p>Are Your Sure? Delete <strong style="color: red;">{{ share.member|title }}
                                                Share</strong>?</p>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-sm"
                                                data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-danger btn-sm">Yes? Delete Share
                                            </button>
                                        </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

   
<div class="modal fade" id="deleteAll" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <div class="modal-header">
            Delete All Share
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="{% url 'share:delete_all' %}">

                <p>Are Your Sure? <strong style="color: red;"> Delete All {{ week.share.all.count }}
                    Share</strong>?
                </p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger btn-sm">Yes? Delete All Share
                    </button>
                </div>
        </div>
        </form>
    </div>
</div>
</div>

<div class="card-footer">
    <nav aria-label="Contacts Page Navigation">
        <ul class="pagination justify-content-center m-0">
            {% if weeks.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ weeks.previous_page_number }}">
            <i class="fa fa-angle-double-left"></i></a></li>
            {% endif %}

        {% for pg in weeks.paginator.page_range%}
        {% if weeks.number == pg %}
        <li class="page-item active" ><a class="page-link" href="?page={{pg}}" class="">{{ pg }}</a></li>
        {% else %}
        {% if  pg < weeks.number|add:2 %}
        <li class="page-item " ><a class="page-link" href="?page={{pg}}">{{ pg }}</a></li>
        {% endif %}
        {% endif %}
         {% endfor %} 
         {% if weeks.has_next %}
         <li class="page-item"><a class="page-link"  href="?page={{ weeks.next_page_number }}"><i class="fa fa-angle-double-right"></i></a></li>
         {% else %}
         {% endif %}
      </ul>
    </nav>
</div>








</section>
{% else %}
<div class="jumbotron text-center">
    <div class="text-center" style="border-radius:50px;padding:20px;color:rgb(245, 24, 24)">

        <h5>No data found at this week</h5>
        <a href="#" class="btn btn-success btn-sm" data-toggle="modal" data-target="#createShare">
            <i class="fa fa-bars"></i> Create Share</a> or
        <a href="#" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#upload{{ member.id }}">
            <i class="fa fa-folder"></i> Import From File
        </a>
    </div>
</div>
{% endif %}

{% empty %}
<div class="jumbotron text-center">
    <div class="text-center" style="border: 1px solid red;border-radius:50px;padding:20px;color:rgb(245, 24, 24)">
        <small>No data found at {% now 'M' %}|{% now 'Y' %}</small> <br>
        {% if week.share.all and week.month and week.year %}
        <a href="#" class="btn btn-success btn-sm" data-toggle="modal" data-target="#createShare">
            <i class="fa fa-bars"></i> Create Share</a> or
        {% endif %}
        <a href="#" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#upload{{ member.id }}">
            <i class="fa fa-folder"></i> Import From File
        </a>

    </div>
</div>

{% endfor %}


<div class="modal fade" id="createShare">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Share</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'share:index' %}" method="POST">
                <div class="modal-body">

                    <div class="form-group">
                        {% csrf_token %}
                        {{ form.as_p }}

                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-sm">Create Share</button>
                </div>
            </form>
        </div>
    </div>
</div>




<div class="modal fade" id="upload{{ member.id }}" tabindex="-1" role="dialog"
aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <div class="modal-header">
            Import Panel
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="{% url 'share:upload' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="">Choose Format</label>
                    <select name="choice" class="form-control">
                        <option value="0" disabled>---choose format---</option>
                        <option value="1" selected>Excel(.xlsx)</option>
                        <option value="2" disabled class="text-muted">CSV</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="import">Choose File</label><br>
                    <input required type="file" name="file" class="btn btn-primary btn-sm form-control" id="import">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success btn-sm">Upload Now
                    </button>
                </div>
        </div>
        </form>
    </div>
</div>
</div>


<div class="modal fade" id="export" tabindex="-1" role="dialog"
aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <div class="modal-header">
           Export Data
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="{% url 'share:upload' %}" method="POST" enctype="multipart/form-data">
              <div class="text-center ">
                <p>Dear <strong style="color: brown;"> {{ user.get_full_name }}</strong>  <br>
                    We are still working on this part (Export functionality) <br>
                    ------------------- <br>
                    <strong> (C) 2020 Atlais Team </strong> <br>

                    ------------------- 
              </div>
            
            </p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                    <button disabled type="submit" class="btn btn-success btn-sm">Export Now
                    </button>
                </div>
        </div>
        </form>
    </div>
</div>
</div>






{% endblock %}