{% extends 'admin_layouts/administrator.html'%}
{% load static%}
{% load humanize%}
{% load base%}
{% block content %}
<div class="container py-5">

  <div class="col-md-12">
    <div class="card card-widget widget-user-2">
      <div class="widget-user-header bg-yellow">
        <div class="widget-user-image">
          <img class="img-circle elevation-2" src="{{member.user.profile.profile.url}}" alt="User Avatar">
        </div>
        <h3 class="widget-user-username">{{ member.user.first_name }}
          {% if member.user.profile.sirname %}
          {{ member.user.profile.sirname }}
          {%endif %}
          {{ member.user.last_name }}
        </h3>
        <h5 class="widget-user-desc">Active {{ member.fines.all.count }} Fine(s)</h5>
      </div>
      <div class="card-footer p-0">
        <ul class="nav flex-column">
          <!-- <li class="nav-item p-2 ml-2 text-muted">
            Share(Hisa) <span class="float-right badge bg-primary">3 | TZS 90000/=</span>
          </li>
          <li class="nav-item p-2 ml-2 text-muted">
            Loans <span class="float-right badge bg-info">3 | TZS 90000/=</span>
          </li>
          
          <li class="nav-item p-2 ml-2 text-muted">
              Jamii <span class="float-right badge bg-primary">TZS 10000/=</span>
          </li> -->
          <table class="table m-2 p-2">
            <thead>
              <th>#</th>
              <th>Week</th>
              <th>Hisa Fine Amount</th>
              <th>Jamii Fine Amount</th>
              <th>Total Fine</th>
              <th>Action</th>
            </thead>
            <tbody>
      {% for fine in  member.fines.all %}
           <tr>   
                <td>{{ forloop.counter }}</td>
                <td><strong>{{ fine.week }}</strong></td>
                <td><strong>TZS {{ fine.hisa_amount|intword|intcomma }}/=</strong></td>
                <td><strong>TZS {{ fine.jamii_amount|intword|intcomma }}/=</strong></td>
                <td><strong>TZS {{ fine.fine_sum|intword|intcomma }}/=</strong></td>
                <td>
                    <a href="#" class="btn btn-success btn-sm"><i class="fa fa-crosshairs"></i> Pay Fine</a>
                </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>













          <div class="modal fade" id="loans" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5><strong>{{ member.user.get_full_name|title }} </strong> Loans summary</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="{% url 'share:upload' %}" method="POST" enctype="multipart/form-data">
                    <div class="text-center ">
                      <table class="table m-2 p-2">
                        <thead style="color: rgb(6, 87, 141);">
                          <th>#</th>
                          <th>Loan(TZS)</th>
                          <th>Return(TZS)</th>
                          <th>Paid(TZS)</th>
                          <th><i class="fa fa-clock"></i></th>
                          <th>Paid(%)</th>
                        </thead>
                        <tbody>
                          {% for loan in member.loan.all %}
                          <tr>
                            <td><strong> {{ forloop.counter }}</strong></td>
                            <td><strong> {{ loan.amount|intword|intcomma }}</strong></td>
                            <td><strong>{{ loan.return_amount|intword|intcomma }}</strong></td>
                            <td><strong>{{ loan.paid|intword|intcomma }}</strong></td>
                            <td><strong>4ds </strong></td>
                            <td><strong>{{ loan.percent|floatformat:2 }}%</strong></td>
                          </tr>
                          {% endfor %}


                        </tbody>
                      </table>

                    </div>
                    <br>
                    <ul class="list-group">
                      <li class="list-group-item active text-center">Summary Format</li>
                      <li class="list-group-item">All payment are recorded in Tanzanian Shillings( <strong>TZS</strong>
                        )</li>
                      <li class="list-group-item"><i class="fa fa-clock"></i> is time remained measured in days(
                        <strong>ds i.e 2ds,3ds</strong> )</li>
                    </ul>

                    </p>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                      <button disabled type="submit" class="btn btn-success btn-sm">More Info
                      </button>
                    </div>
                </div>
                </form>
              </div>
            </div>
          </div>

        </ul>
      </div>
    </div>
  </div>

</div>

{% endblock %}