{% extends 'admin_layouts/administrator.html'%} {% load static %}
{% block title%} member | TMD {% endblock%}
{% block content %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Tegemeo Members</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">member</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
{% if members %}

<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="row justify-content-between">
                <h3 class="card-title">Active Members List </h3>
                <div class="float-right">
                    {% if perms.member.add_member%}
                    <a href="#" class="btn btn-success btn-sm" data-toggle="modal" data-target="#createMember">
                        <i class="fa  fa-plus-circle"></i>
                        Create Member</a>

                    <a href="#" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#upload{{ member.id }}">
                        <i class="fa fa-folder-open"></i>
                        Import From File
                    </a>
                    {% endif %}


                    <!-- <a href="#" class="btn btn-primary btn-sm">
                        Export Excel(.xls) </a> -->
                </div>
            </div>
        </div>



        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 1%">
                            #
                        </th>
                        <th>
                            Username
                        </th>
                        <th>
                            Profile
                        </th>
                        <th>
                            First Name
                        </th>
                        <th>
                            Last Name
                        </th>
                        <th class="text-center">
                            Email
                        </th>
                        <th>
                            status
                        </th>
                        <!-- <th class="text-center">
                            Status
                        </th> -->

                        <th style="width: 20%" class="text-center">
                            Actions
                        </th>

                    </tr>
                </thead>
                <tbody>
                    {% for member in members %}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            <a>
                                <!-- {{ member.user.get_full_name }} -->
                                <strong>{{ member.user.username|title }}</strong>
                            </a>
                            <br>

                        </td>
                        <td>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <img alt="." class="table-avatar" src="{{ member.user.profile.profile.url }}">
                                </li>

                            </ul>
                        </td>
                        <td>
                            <strong>{{ member.user.first_name }}</strong>

                        </td>
                        <td>
                            <strong> {{ member.user.last_name }}</strong>

                        </td>
                        <td class="text-center">
                            {% if member.user.email %}
                            <strong> {{ member.user.email }}</strong>
                            {% else %}
                            Not Yet Assigned
                            {% endif %}

                        </td>
                        <td class="project-state">
                            {% if not member.has_fine %}
                            <span class="badge badge-success">Active</span>
                            {% else %}
                            <span class="badge badge-danger">Inactive</span>
                            {% endif %}
                        </td>

                        <td class="text-center">
                            {% if perms.member.change_member %}

                            <a class="btn btn-info btn-sm" href="" title="Edit Member" data-toggle="modal"
                                data-target="#editMember{{ member.id }}">
                                <i class="fas fa-edit">
                                </i>
                            </a>
                            {% endif %}
                            {% if perms.member.view_member %}

                            <a class="btn btn-primary btn-sm" href="{{ member.get_profile }}" title="View Profile">
                                <i class="fas fa-eye">
                                </i>
                            </a>
                            {% endif %}
                            {% if perms.loan.add_loan%}

                            <a class="btn btn-success btn-sm" href="#" title="Pay Loan" data-toggle='modal'
                                data-target="#loan{{ member.id }}">
                                <i class="fa fa-align-center">
                                </i>
                            </a>
                            {% endif %}
                            {% if perms.member.delete_member%}
                            <a class="btn btn-danger btn-sm" href="#" data-toggle='modal'
                                data-target="#deleteShare{{ member.id }}">
                                <i class="fas fa-trash">
                                </i>
                            </a>
                            {% endif %}
                        </td>
                    </tr>


                    <!-- Create Modal -->
                    <div class="modal fade" id="deleteShare{{ member.id }}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    Delete Share
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ member.delete }}">
                                        {% csrf_token %}
                                        <p>Are Your Sure? Delete <strong style="color: red;">{{ member.user|title }}
                                                Member</strong>?</p>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-sm"
                                                data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-danger btn-sm">Yes? Delete Member
                                            </button>
                                        </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- end Modal -->





                    <div class="modal fade" id="editMember{{ member.id }}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Update Member</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form action="{{ member.edit }}" method="POST">
                                    <div class="modal-body">

                                        <div class="form-group">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="username">Username <span
                                                        class="text-danger">*</span></label>
                                                <input type="text" name="username" id="username"
                                                    class="form-control" required placeholder="Enter first name"
                                                    value="{{ member.user.username }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="first_name">First Name <span
                                                        class="text-danger">*</span></label>
                                                <input type="text" name="first_name" id="first_name"
                                                    class="form-control" required placeholder="Enter first name"
                                                    value="{{ member.user.first_name }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="last_name">Last Name <span
                                                        class="text-danger">*</span></label>
                                                <input type="text" name="last_name" id="last_name" class="form-control"
                                                    placeholder="Enter last name" required
                                                    value="{{ member.user.last_name }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="text" name="email" id="email" class="form-control"
                                                    placeholder="Enter Email (Optional)"
                                                    value="{{ member.user.email }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="phone">Phone Number <span
                                                        class="text-danger">*</span></label>
                                                <input type="text" name="phone" id="phone" class="form-control"
                                                    placeholder="Enter phone Number" required
                                                    value="{{ member.user.profile.phone }}">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                        <button type="button" class="btn btn-default btn-sm"
                                            data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary btn-sm">Update Member</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>















                    <!-- loan Modal -->
                    <div class="modal fade" id="loan{{ member.id }}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    Loan Panel
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ member.payloan }}" method="POST">
                                        {% csrf_token %}
                                        <ul class="list-group">
                                            <li class="list-group-item">Member:
                                                <strong>{{ member.user }} <span style="color: brown;">(ulitoa mkopo kwa
                                                        {{ member.user }} ?)</span></strong></li><br>
                                            <div class="form-group">
                                                <label for="amount">How Much (TZS)? <span style="color: brown;">(Kiwango
                                                        cha pesa)</span></label>
                                                <input class="form-control" type="text" name="amount" id="amount"
                                                    placeholder="Enter Loan Amount" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="deadline">When did {{ member.user|title }} assigned
                                                    Loan? <span style="color: brown;">(umempa lini mkopo
                                                        ?)</span></label>
                                                <input class="form-control" type="date" name="start" id="deadline"
                                                    placeholder="Enter Deadline Amount" required>
                                            </div>
                                            </li>

                                            <li class="list-group-item">Assigned by You
                                                (<strong>{{ user.get_full_name }}</strong>)</li>
                                        </ul>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-sm"
                                                data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-success btn-sm">Yes? Provide Loan
                                            </button>
                                        </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- end Modal -->



                    {% endfor %}

                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->







</section>
{% else %}
<div class="jumbotron text-center">
    <div class="text-center" style="border-radius:50px;padding:20px;color:rgb(245, 24, 24)">
        <hr>

        <h6>No Members Added Yet</h6>
        <hr>
        <small>
            {% if perms.member.add_member%}
            <a href="#" class="btn btn-success btn-sm" data-toggle="modal" data-target="#createMember">Create
                Member</a>
            or
            <a href="#" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#upload{{ member.id }}">
                Import From File
            </a>
            {% endif %}
        </small>
    </div>
</div>
{% endif %}



<div class="modal fade" id="createMember">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Member</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'member:create' %}" method="POST">
                <div class="modal-body">

                    <div class="form-group">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="first_name">First Name <span class="text-danger">*</span></label>
                            <input type="text" name="first_name" id="first_name" class="form-control" required
                                placeholder="Enter first name">
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name <span class="text-danger">*</span></label>
                            <input type="text" name="last_name" id="last_name" class="form-control"
                                placeholder="Enter last name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" name="email" id="email" class="form-control"
                                placeholder="Enter Email (Optional)">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone Number <span class="text-danger">*</span></label>
                            <input type="text" name="phone" id="phone" class="form-control"
                                placeholder="Enter phone Number" required>
                        </div>

                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-sm">Create Member</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="upload{{ member.id }}" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Import Panel
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'member:upload' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="">Choose Format</label>
                        <select name="choice" class="form-control">
                            <option value="0" disabled>---choose format---</option>
                            <option value="1" selected>Excel(.xlsx)</option>
                            <option value="2" disabled class="text-muted">CSV</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="import">Choose File</label><br>
                        <input required type="file" name="file" class="btn btn-primary btn-sm form-control" id="import">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success btn-sm">Upload Now
                        </button>
                    </div>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}