{% extends 'admin_layouts/administrator.html'%}
{% load static %}
{% block content %}
<div class="container py-5">

  <div class="col-md-12">
    <div class="card card-widget widget-user-2">
      <div class="widget-user-header bg-primary">
        <div class="widget-user-image">
          <img class="img-circle elevation-2" src="{{member.user.profile.profile.url}}" alt="User Avatar">
        </div>
        <h3 class="widget-user-username">{{ member.user.get_full_name }}</h3>
        <h5 class="widget-user-desc">Tegemeo Member</h5>
      </div>
      <div class="card-footer p-0">
        <ul class="nav flex-column">
          <!-- <li class="nav-item p-2 ml-2 text-muted">
            Share(Hisa) <span class="float-right badge bg-primary">3 | TZS 90000/=</span>
          </li>
          <li class="nav-item p-2 ml-2 text-muted">
            Loans <span class="float-right badge bg-info">3 | TZS 90000/=</span>
          </li>
          
          <li class="nav-item p-2 ml-2 text-muted">
              Jamii <span class="float-right badge bg-primary">TZS 10000/=</span>
          </li> -->
          <table class="table m-2 p-2">
            <thead>
              <th>Category</th>
              <th>Count</th>
              <th>Amount</th>
            </thead>
            <tbody>
              <tr>
                <td>Share(Hisa)</td>
                <td><span class=" badge bg-primary">3</span></td>
                <td><strong>TZS 90000/=</strong></td>
              </tr>
              <tr>
                <td>Loans</td>
                <td><span class=" badge bg-primary">3</span></td>
                <td><strong>TZS 90000/=</strong></td>
              </tr>
              <tr>
                <td>Jamii</td>
                <td><span class=" badge bg-primary">3</span></td>
                <td><strong>TZS 90000/=</strong></td>
              </tr>
            </tbody>
          </table>
         
        </ul>
      </div>
    </div>
  </div>



  <section class="content">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Member Profile Summary</h3>
      </div>
      <div class="card-body" style="display: block;">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">
            <div class="row">
              <div class="col-12 col-sm-4">
                <div class="info-box bg-light">
                  <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Phone Number</span>
                    <span class="info-box-number text-center text-muted mb-0">{{ member.user.profile.phone }}</span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <div class="info-box bg-light">
                  <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Email</span>
                    <span class="info-box-number text-center text-muted mb-0">
                      {% if member.user.email %}
                      {{ member.user.email }}
                      {% else %}
                      <small style="color: brown;">Not yet Assigned</small>
                      {% endif %}
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <div class="info-box bg-light">
                  <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Member Sponsor</span>
                    <span class="info-box-number text-center text-muted mb-0">Jane Admin <span>
                      </span></span></div>
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <div class="info-box bg-light">
                  <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Member Since </span>
                    <span class="info-box-number text-center text-muted mb-0">Dec 12,2020 <span>
                      </span></span></div>
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <div class="info-box bg-light">
                  <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Loans Status</span>
                    <span class="info-box-number text-center text-muted mb-0">Valid <span>
                      </span></span></div>
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <div class="info-box bg-light">
                  <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Fine amount </span>
                    <span class="info-box-number text-center text-muted mb-0">TZS 50,000/=</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- <div class="text-center">
    <form action="{% url 'profile' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %} <br>
      <div class="form-group ">
        <label for="file">Change Profile</label>
        <input type="file" name="upload" id="file" class="btn btn-sm btn-primary mr-4 " required>
        <input type="hidden" name="status" value="{{request.user.profile.status }}">
      </div>
      <input type="submit" value="upload profile" class="btn btn-primary">
    </form>
 
</div> -->
{% endblock %}